{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Content</title>
    <link rel="stylesheet" href="{% static 'galery.css' %}">
</head>
<body>
 <h1>Մեր աշխատանքները</h1>



    <main class="main-content">
        <section class="text-section">
            <ul>
                <li>1	ՀՀ Կոտայքի մարզի Գառնի համայնքի Գառնի գյուղի խմելու ջրի համակարգում քլորակայանի, Գեղարդ, Հացավան և Գեղադիր գյուղերում խմելու ջրագծերի կառուցման աշխատանքների տեխնիկական հսկողության  ծառայություններ։</li>
                <li>2	Ջրվեժ համայնք Զովք գյուղի ջրագծի կապիտալ վերանորոգման աշխատանքների որակի տեխնիկական հսկողոթյան խորհրդատվական ծառայություններ։</li>
                <li>3	«Ծաղկաձոր համայնքի ենթակայության շենքերում տեսախցիկների տեղադրման աշխատանքների որակի տեխնիկական հսկողության խորհրդատվական ծառայություններ»Բարձր հուսալիությամբ զուգարանակոնք կառուցելու միջոցների կիրառման ցուցումներ</li>
                <li>4	Մրգաշեն բնակավայրիխմելու ջրագծերի կառուցման աշխատանքների  որակի տեխնիկակական հսկողության խորհրդատվական ծառայություններ</li>
                <li>5	ՀՀ Կոտայք մարզի Ծաղկաձոր համայնքի ամբուլատորիայի կապիտալ վերանորոքման շինարարական աշխատանքների տեխնիկական հսկողություն</li>
                <li>6	Սևան համայնքի Գագարին, Լճաշեն, Դդմաշեն, Գեղամավան, Զովաբեր, Չկալովկա և Ծաղկունք գյուղերի փողոցների ներքին լուսավորության ցանցի կառուցման աշխատանքների որակի տեխնիկական հսկողության խորհրդատվական ծառայություններ</li>
                <li>6	Սևան համայնքի Գագարին, Լճաշեն, Դդմաշեն, Գեղամավան, Զովաբեր, Չկալովկա և Ծաղկունք գյուղերի փողոցների ներքին լուսավորության ցանցի կառուցման աշխատանքների որակի տեխնիկական հսկողության խորհրդատվական ծառայություններ</li>
                <li>7	ՀՀ Գեղարքունիքի մարզի Մարտունի համայնքի համայնքապետարանի վարչական շենքի վերանորոգման աշխատանքների որակի տեխնիկական հսկողության  ծառայություն։</li>
                <li>8	ՀՀ Գեղարքունիքի մարզի Մարտունի համայնքի Ծովինար բնակավայրի մշակույթի կենտրոնի հիմնանորոգման  աշխատանքների  որակի տեխնիկական հսկողության  ծառայություններ</li>
                <li>9	Աբովյան համայնքի Աբովյան քաղաքի, Աբովյան համայնքի Առինջ, Արամուս, Մայակովսկի, Պտղնի լուսավորության համակագի կառուցման աշխատանքների տեխնիկական հսկողության խորհրդատվական  ծառայություն։</li>
                <li>10	«ՀՀ Գեղարքունիքի մարզի Մարտունի համայնքի Վարդենիկ բնակավայրի Բանավան թաղ. Թիվ 1 հասցեի մանկապարտեզի շենքի կապիտալ  վերանորոգման» աշխատանքների   որակի տեխնիկական հսկողության ծառայություն։</li>
                <li>11	«ՀՀ Գեղարքունիքի մարզի Մարտունի համայնքի Երանոս համայնքի մսուր-մանկապարտեզ ՀՈԱԿԻ-ի շենքի ուժեղացման և հիմնանորոգման» աշխատանքների   որակի տեխնիկական հսկողության ծառայություններ։</li>
                <li>12	ՀՀ Գեղարքունիքի մարզի Մարտունի համայնքի Ծովինար բնակավայրի 1-ին թաղամաս, 3-րդ փողոց, թիվ 31 հասցեի Մսուր մանկապարտեզ  ՀՈԱԿ-ի խաղահրապարակի և սեպտիկ հորի կառուցման» աշխատանքների   որակի տեխնիկական հսկողության ծառայություններ։</li>
                <li>13	Հրազդան քաղաքի Հարավային թաղամասի Շառլ Ազնավուրի անվան զբոսայգու բեմի և սանհանգույցի հիմնանորոգման>> աշխատանքներ որակի տեխնիկական հսկողության ծառայություններ։</li>
                <li>14	Ճամբարակ համայնքի Շողակաթ բնակավայրում խելացի ոռոգման համակարգի կառուցման աշխատանքների որակի նկատմամբ տեխնիկական հսկողության ծառայություն։</li>
                <li>15	Ջրվեժ համայնքի կարիքների համար գազատարի կառուցման աշխատանքների որակի տեխնիկական հսկողոթյան խորհրդատվական ծառայություններ մատուցում։</li>
                <li>16	Ճամբարակ համայնքի «Ճամբարակ քաղաքի Կոմիտաս փողոցից մինչև Վ.Տերյան փողոց ընկած հատվածի ,Ճամբարակի համայնքապետարանի հարակից և սպասարկող ճանապարհ-անցուղու» ասֆալտապատման  աշխատանքների որակի նկատմամբ տեխնիկական հսկողության ծառայություն։</li>
               
            </ul>
        </section>
        <!-- <section class="image-section">
            <div class="image-gallery">
                <img src="https://source.unsplash.com/random/200x200?sig=1" alt="Image 1">
                <img src="https://source.unsplash.com/random/200x200?sig=2" alt="Image 2">
                <img src="https://source.unsplash.com/random/200x200?sig=3" alt="Image 3">
                <img src="https://source.unsplash.com/random/200x200?sig=4" alt="Image 4">
                <img src="https://source.unsplash.com/random/200x200?sig=5" alt="Image 5">
                <img src="https://source.unsplash.com/random/200x200?sig=6" alt="Image 6">
                <img src="https://source.unsplash.com/random/200x200?sig=7" alt="Image 7">
                <img src="https://source.unsplash.com/random/200x200?sig=8" alt="Image 8">
                <img src="https://source.unsplash.com/random/200x200?sig=9" alt="Image 9">
                <img src="https://source.unsplash.com/random/200x200?sig=10" alt="Image 10">
                <img src="https://source.unsplash.com/random/200x200?sig=11" alt="Image 11">
                <img src="https://source.unsplash.com/random/200x200?sig=12" alt="Image 12">
                <img src="https://source.unsplash.com/random/200x200?sig=13" alt="Image 13">
                <img src="https://source.unsplash.com/random/200x200?sig=14" alt="Image 14">
                <img src="https://source.unsplash.com/random/200x200?sig=15" alt="Image 15">
                <img src="https://source.unsplash.com/random/200x200?sig=16" alt="Image 16">
                <img src="https://source.unsplash.com/random/200x200?sig=17" alt="Image 17">
                <img src="https://source.unsplash.com/random/200x200?sig=18" alt="Image 18">
                <img src="https://source.unsplash.com/random/200x200?sig=19" alt="Image 19">
                <img src="https://source.unsplash.com/random/200x200?sig=20" alt="Image 20">
            </div>
        </section> -->
    </main>
</body>
</html>
