{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Content</title>
    <link rel="stylesheet" href="{% static 'vorak.css' %}">
    <link rel="icon" href="{% static 'img/logo3.png' %}">

</head>
<body>
 <h1>Տեխնիկական որակի հսկողություն</h1>



    <main class="main-content">
        <section class="text-section">
            <p>Որակի տեխնիկական հսկողությունն իրականացվում է ժամանակակից սկզբունքներով՝ ըստ շինարարական աշխատանքների տեսակների, պարբերաբար <br>ուսուցման ծրագրեր անցնող մասնագիտացված ինժեներների կողմից՝ նյութերի փորձարկման լաբորատորիայի անմիջական հսկողության պայմաններում: <br>Կազմակերպությունը շինարարության որակի տեխնիկական հսկողությունն իրականացնում է շինարարական նյութերի և արտադրանքի փորձարկման <br>լաբորատորիայի անմիջական մասնակցությամբ ըստ փորձարկումների և հսկողության գործակալությունների ԱՄՆ Կալիֆորնիայի Խորհրդի <br>«Շինարարության հատուկ հսկողություն» ուղեցույցի: <br><br>Տեխնիկական հսկողությունն իրականացվում է ՀՀ Քաղաքաշինության Նախարարության կողմից հաստատված Հրաման №11-Ն առ 14.01.2008թ. ՀՀՇՆ I- <br>3.01.01-2008 «Շինարարական արտադրության կազմակերպման աշխատանքների կատարում» շինարարական նորմերի և Շինարարության Հատուկ <br>Տեսչության նորմատիվների համաձայն (Փորձարկման և տեսչության մարմինների Կալիֆորնիայի խորհուրդ), որը ներառում է ստուգման հետևյալ <br>ուղղությունները`</p><br><br>
            <ul>
                <li>Հողային (փոսորակի քանդում, պրոֆիլավորում, հետլիցք, հիմնատակեր)</li>
                <li>Ասֆալտբետոնի պատրաստում և տեղադրում </li>
                <li>Ամրանավորում</li>
                <li> Բետոնախառնիչ հանգույցում խառնուրդների պատրաստում</li>
                <li>Բետոնացում</li>
                <li>Տորկրետ բետոն</li>
                <li> Նախալարված բետոն</li>
                <li>Քարե շարվածք</li>
                <li>Պրոֆիլավորված պողպատ ևդրանց բարձր ամրության հեղույսային միացում ներ</li>
                <li>Չքայքայող փորձարկում</li>
                <li>Կառուցվածքների հակահրդեհային ծածկույթ</li>
                <li>Փայտե սոսնձված կառուցվածքներ</li>
                <li>Կոշտության պատեր և միջհարկային ծածկեր</li>

              
               
            </ul>
        </section>
        <section class="image-section">
            <div class="image-gallery">
                <img src="{% static 'img/1.jpg' %}" alt="Image 1">
                <img src="{% static 'img/2.jpg' %}" alt="Image 2">
                <img src="{% static 'img/3.jpg' %}" alt="Image 3">
                <img src="{% static 'img/4.jpg' %}" alt="Image 4">
                <img src="{% static 'img/5.jpg' %}" alt="Image 5">
            </div>
        </section>
    </main>
</body>
</html>
